In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [3]:
df=pd.read_csv('C:/Bazy danych/Analiza i Bazy Danych/drinks.csv')

In [4]:
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
5,Antigua & Barbuda,102,128,45,4.9
6,Argentina,193,25,221,8.3
7,Armenia,21,179,11,3.8
8,Australia,261,72,212,10.4
9,Austria,279,75,191,9.7
10,Azerbaijan,21,46,5,1.3
11,Bahamas,122,176,51,6.3
12,Bahrain,42,63,7,2.0
13,Bangladesh,0,0,0,0.0
14,Barbados,143,173,36,6.3
15,Belarus,142,373,42,14.4
16,Belgium,295,84,212,10.5
17,Belize,263,114,8,6.8
18,Benin,34,4,13,1.1
19,Bhutan,23,0,0,0.4
20,Bolivia,167,41,8,3.8
21,Bosnia-Herzegovina,76,173,8,4.6
22,Botswana,173,35,35,5.4
23,Brazil,245,145,16,7.2
24,Brunei,31,2,1,0.6
25,Bulgaria,231,252,94,10.3
26,Burkina Faso,25,7,7,4.3
27,Burundi,88,0,0,6.3
28,Cote d'Ivoire,37,1,7,4.0
29,Cabo Verde,144,56,16,4.0
...,...,...,...,...,...
163,Suriname,128,178,7,5.6
164,Swaziland,90,2,2,4.7
165,Sweden,152,60,186,7.2
166,Switzerland,185,100,280,10.2
167,Syria,5,35,16,1.0
168,Tajikistan,2,15,0,0.3
169,Thailand,99,258,1,6.4
170,Macedonia,106,27,86,3.9
171,Timor-Leste,1,1,4,0.1
172,Togo,36,2,19,1.3
173,Tonga,36,21,5,1.1
174,Trinidad & Tobago,197,156,7,6.4
175,Tunisia,51,3,20,1.3
176,Turkey,51,22,7,1.4
177,Turkmenistan,19,71,32,2.2
178,Tuvalu,6,41,9,1.0
179,Uganda,45,9,0,8.3
180,Ukraine,206,237,45,8.9
181,United Arab Emirates,16,135,5,2.8
182,United Kingdom,219,126,195,10.4
183,Tanzania,36,6,1,5.7
184,USA,249,158,84,8.7
185,Uruguay,115,35,220,6.6
186,Uzbekistan,25,101,8,2.4
187,Vanuatu,21,18,11,0.9
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [5]:
df1=df.rename(columns={"beer_servings":"beer","spirit_servings":"spirit","wine_servings":"wine","total_litres_of_pure_alcohol":"litres of alcohol"})

data_melt = pd.melt(df1,id_vars=["country" , "litres of alcohol"])

In [6]:
data_melt.head()

       country  litres of alcohol variable  value
0  Afghanistan                0.0     beer      0
1      Albania                4.9     beer     89
2      Algeria                0.7     beer     25
3      Andorra               12.4     beer    245
4       Angola                5.9     beer    217

In [7]:
data=data_melt.rename(columns={"variable":"kind of alcohol","value":"quantity of alcohol"})

In [67]:
data

,country,litres of alcohol,kind of alcohol,quantity of alcohol
0,Afghanistan,0.0,beer,0
1,Albania,4.9,beer,89
2,Algeria,0.7,beer,25
3,Andorra,12.4,beer,245
4,Angola,5.9,beer,217
5,Antigua & Barbuda,4.9,beer,102
6,Argentina,8.3,beer,193
7,Armenia,3.8,beer,21
8,Australia,10.4,beer,261
9,Austria,9.7,beer,279
10,Azerbaijan,1.3,beer,21
11,Bahamas,6.3,beer,122
12,Bahrain,2.0,beer,42
13,Bangladesh,0.0,beer,0
14,Barbados,6.3,beer,143
15,Belarus,14.4,beer,142
16,Belgium,10.5,beer,295
17,Belize,6.8,beer,263
18,Benin,1.1,beer,34
19,Bhutan,0.4,beer,23
20,Bolivia,3.8,beer,167
21,Bosnia-Herzegovina,4.6,beer,76
22,Botswana,5.4,beer,173
23,Brazil,7.2,beer,245
24,Brunei,0.6,beer,31
25,Bulgaria,10.3,beer,231
26,Burkina Faso,4.3,beer,25
27,Burundi,6.3,beer,88
28,Cote d'Ivoire,4.0,beer,37
29,Cabo Verde,4.0,beer,144
...,...,...,...,...
549,Suriname,5.6,wine,7
550,Swaziland,4.7,wine,2
551,Sweden,7.2,wine,186
552,Switzerland,10.2,wine,280
553,Syria,1.0,wine,16
554,Tajikistan,0.3,wine,0
555,Thailand,6.4,wine,1
556,Macedonia,3.9,wine,86
557,Timor-Leste,0.1,wine,4
558,Togo,1.3,wine,19
559,Tonga,1.1,wine,5
560,Trinidad & Tobago,6.4,wine,7
561,Tunisia,1.3,wine,20
562,Turkey,1.4,wine,7
563,Turkmenistan,2.2,wine,32
564,Tuvalu,1.0,wine,9
565,Uganda,8.3,wine,0
566,Ukraine,8.9,wine,45
567,United Arab Emirates,2.8,wine,5
568,United Kingdom,10.4,wine,195
569,Tanzania,5.7,wine,1
570,USA,8.7,wine,84
571,Uruguay,6.6,wine,220
572,Uzbekistan,2.4,wine,8
573,Vanuatu,0.9,wine,11
574,Venezuela,7.7,wine,3
575,Vietnam,2.0,wine,1
576,Yemen,0.1,wine,0
577,Zambia,2.5,wine,4
578,Zimbabwe,4.7,wine,4

In [69]:
data_tidy = data.pivot_table(
    index=['country','litres of alcohol','kind of alcohol'], 
    values='quantity of alcohol')

In [70]:
data_tidy.head(10)

                                               quantity of alcohol
country     litres of alcohol kind of alcohol
Afghanistan 0.0               beer                               0
                              spirit                             0
                              wine                               0
Albania     4.9               beer                              89
                              spirit                           132
                              wine                              54
Algeria     0.7               beer                              25
                              spirit                             0
                              wine                              14
Andorra     12.4              beer                             245

In [75]:
data_tidy

                                                        quantity of alcohol
country              litres of alcohol kind of alcohol
Afghanistan          0.0               beer                               0
                                       spirit                             0
                                       wine                               0
Albania              4.9               beer                              89
                                       spirit                           132
                                       wine                              54
Algeria              0.7               beer                              25
                                       spirit                             0
                                       wine                              14
Andorra              12.4              beer                             245
                                       spirit                           138
                                       wine                             312
Angola               5.9               beer                             217
                                       spirit                            57
                                       wine                              45
Antigua & Barbuda    4.9               beer                             102
                                       spirit                           128
                                       wine                              45
Argentina            8.3               beer                             193
                                       spirit                            25
                                       wine                             221
Armenia              3.8               beer                              21
                                       spirit                           179
                                       wine                              11
Australia            10.4              beer                             261
                                       spirit                            72
                                       wine                             212
Austria              9.7               beer                             279
                                       spirit                            75
                                       wine                             191
...                                                                     ...
United Arab Emirates 2.8               beer                              16
                                       spirit                           135
                                       wine                               5
United Kingdom       10.4              beer                             219
                                       spirit                           126
                                       wine                             195
Uruguay              6.6               beer                             115
                                       spirit                            35
                                       wine                             220
Uzbekistan           2.4               beer                              25
                                       spirit                           101
                                       wine                               8
Vanuatu              0.9               beer                              21
                                       spirit                            18
                                       wine                              11
Venezuela            7.7               beer                             333
                                       spirit                           100
                                       wine                               3
Vietnam              2.0               beer                             111
                                       spirit                             2
                                       wine                               1
Yemen                0.1               beer                               6
                                       spirit                             0
                                       wine                               0
Zambia               2.5               beer                              32
                                       spirit                            19
                                       wine                               4
Zimbabwe             4.7               beer                              64
                                       spirit                            18
                                       wine                               4

[579 rows x 1 columns]

In [72]:
data_tidy.to_csv('C:/Bazy danych/Analiza i Bazy Danych/Analysis Data/new_drinks.csv')